* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Outfit';
    background: linear-gradient(#ffdad5, #fff7f9);
    background-image: url(images/banner-bg.jpg);

}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20%;
}

.logo img {
    max-width: 140px;
    height: auto;
}

.navmenu {
    display: flex;

}

.navmenu a {
    padding: 10px 20px;
    color: #292929;
    text-transform: capitalize;
    font-weight: 500;
    transition: all .42s ease;
}

.navmenu a:hover {
    color: #CC3333;
}

.nav-icon {
    display: flex;
    align-items: center;
}

.nav-icon .btn {
    display: inline-block;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid #CC3333;
    padding: 10px 30px;
    background-color: #CC3333;
    border-radius: 30px;
    color: #fff;
    letter-spacing: 1px;
    margin-right: 15px;
    transition: all .42s ease;
}

.nav-icon .btn:hover {
    transform: scale(1.1);
}

.contact-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-left-title h2 {
    font-weight: 600;
    color: #cc3333;
    font-size: 40px;
    margin-bottom: 5px;
}

.contact-left-title hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: #cc3333;
    border-radius: 10px;
    margin-bottom: 20px;

}

.contact-inputs {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}

.contact-left textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus {
    border: 2px solid #ff994f;
}

.contact-inputs::placeholder {
    color: #a9a9a9;
}

.contact-left button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #ff994f, #fa6d86);
    cursor: pointer;
}

.contact-left button img {
    height: 15px;
}

.contact-right img {
    width: 500px;
}

@media (max-width:800px) {
    .contact-inputs {
        width: 80vw;
    }

    .contact-right {
        display: none;
    }
}